<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete_items</title>
</head>
<body>
    <div>
        <p>are you sure want to delete {{items}}?! </p>
        <a href="{% url "list" %} ">cancel and go to main page</a>

    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="confirm">
        </form>
    </div>

</body>
</html>